body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Paragraphs */
.section-description {
  /* font-size: 1rem; */
  /* line-height: 1.5; */
  /* width: 0%; */
  /* margin: auto; */
}

/* Containers */
.container-fluid {
  padding: 5% 5%;
}

/* Navigation Bar */
.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Appointment Buttons */
.appointment-button {
  margin: 5% 3% 5% 0;
}

/* Title */
#title {
  background-color: #2FA4FF;
  color: white;
}

#title .container-fluid {
  padding-top: 3%;
}

#title .big-heading {
  margin-top: 20%;
  /* width: 50%; */
}

#title .appointment-button {
  margin: 2% 3% 10% 0;
}

.title-description {
  color: #E8F9FD;
}

.title-image {
  width: 100%;
  padding: 5% 12% 5%;
}

/* Services */

#services {
  padding: 100px;
  /* text-align: center; */
}

.servicesCarouselItem {
  /* padding: 2% 8% 5%; */
  /* padding: 0 100px; */
}

.service-box {
  margin-top: 5%;
  padding: 0 3%;
  /* width: 5rem; */
}

.service-image {
  /* border: 5px solid #E8F9FD; */
  /* border-radius: 100%; */
  /* margin: 0 5% 5%; */
  /* width: 50%; */
  height: 50%;
  /* margin: auto; */
}

.service-title {
  margin: 10% 0 3%;
}

#services .carousel-indicators .active, #services .carousel-indicators li{
  background-color: #79DAE8;
}

.arrow {
  color: #79DAE8;
}

.arrow:hover {
  color: #2FA4FF;
}

/* About */
#about .row {
  margin-right: 0;
}

/* Team */
.doctors-row {
  margin: 5% 0;
}

.team-box {
  /* padding: 5%; */
  text-align: center;
}

.team-image {
  /* border-radius: 100%; */
  height: 25rem;
  margin-bottom: 5%;
  object-fit: cover;
  /* width: 10rem; */
  width: 100%;
}







/* TRY */

/* h2 {
  font-family: Courier New, monospace;
  font-size: 1em;
  margin: 1em 0 0.3em;
}

img {
  width: 150px;
  height: 100px;
  border: 1px solid #000;
  margin: 10px 0;
} */
/*
.narrow {
  width: 100px;
  height: 150px;
}

.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.none {
  object-fit: none;
}

.scale-down {
  object-fit: scale-down;
} */
