body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 5% 5%;
}

.colored-section {
  background-color: #2FA4FF;
  color: white;
}

/* Horizontal Rule */
.divider {
  border-top-style: dotted;
  border-width: 5px;
  margin: 5% auto;
  width: 5%;
}


/* Navigation Bar */
.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Appointment Buttons */
.appointment-button {
  margin: 5% 3% 5% 0;
}

/* Title */
#title .container-fluid {
  padding-top: 3%;
}

#title .big-heading {
  margin-top: 20%;
}

#title .appointment-button {
  margin: 2% 3% 10% 0;
}

.title-description {
  color: #E8F9FD;
}

.title-image {
  width: 100%;
  padding: 5% 12% 5%;
}

/* Services */
#services {
  padding: 100px;
}

.service-box {
  margin-top: 5%;
  padding: 0 3%;
}

.service-image {
  height: 50%;
}

.service-title {
  margin: 10% 0 3%;
}

/* About */
#about .row {
  margin-right: 0;
}

/* Team */
#team .row {
  margin-top: 2.5%;
}

.team-box {
  text-align: center;
}

.team-image {
  height: 25rem;
  margin-bottom: 5%;
  object-fit: cover;
  width: 100%;
}

/* Contact */
#contact {
  text-align: center;
}

#contact .row {
  margin: 0;
}

.contact-left-side {
  padding: 10% 15%;
}

.contact-logo {
  margin: 5% 0;
  width: 25%;
}

.contact-form {
  margin: 10% 0 5%;
  width: 100%;
}

.contact-input {
  display: block;
  margin: 2.5% auto;
  width: 100%;
}

.btn-submit {
  margin: 5%;
}

.map {
  border: 0;
  width: 100%;
  padding: 0;
}

/* CTA */
#cta {
  text-align: center;
}

#cta .big-heading {
  margin: 5% auto 0;
  width: 75%;
}

/* Footer */
#footer {
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
}
